@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}
* {
  font-family: var(--font-bYekan), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --radius: .25rem;
}

::-webkit-scrollbar {
  width: 12px;
}

.breadcrumb-mobile::-webkit-scrollbar {
  height: 3px;
}

::-webkit-scrollbar {
  height: 6px;
}

select::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ececed !important;
  border-radius: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: #c0c2c5 !important;
  border-radius: 6px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1 !important;
}

body {
  direction: rtl;
  font-family: "bYekan", serif;
}

main {
  position: relative;
}

input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --cell-size: 2.5rem;
  /* یا هر مقدار دلخواه */
}

[dir=rtl] .rdp-button_previous > svg {
  transform: rotate(180deg);
}

[dir=rtl] .rdp-button_next > svg {
  transform: rotate(180deg);
}

.menu .submenu::before {
  display: none !important;
}

.menu li {
  cursor: pointer;
}

.menu li a {
  padding: 10px !important;
  border-radius: 0;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.search-courses {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  filter: blur(1px) brightness(1);
  /* فقط روی تصویر اعمال میشه */
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
}

.plyr {
  direction: rtl;
  font-family: "bYekan", sans-serif;
  font-size: 14px;
}

.tiptap ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
  margin-right: 2rem;
}

.tiptap li {
  margin-bottom: 0.5rem;
}

.tiptap {
  min-height: 200px;
}

.tiptap h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1.2em 0;
}

.tiptap h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 1em 0;
}

.tiptap h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.8em 0;
}

.tiptap h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.7em 0;
}

.tiptap h5 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0.6em 0;
}

.tiptap h6 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5em 0;
}

.code canvas {
  @apply relative z-0;
}

@media (max-width: 567.98px) {
  .search {
    position-area: none !important;
  }
}

.tabs-box > :is(label:has(:checked)) {
  @apply bg-base-200 sm:bg-transparent shadow-none !important;
}

/*# sourceMappingURL=globals.css.map */
