@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
    /*sidebar*/
    /*--sidebar-width: 16rem;*/
    /*--sidebar-width-mobile: 18rem;*/
    /*--sidebar-width-icon: 3rem;*/
    /*sidebar*/
    --sidebar-width-mobile: calc(var(--spacing) * 60);

    --base-50: oklch(98.5% .0013 286.84);
    --base-100: oklch(96.7% .0027 286.38);
    --base-200: oklch(92% .0053 286.32);
    --base-300: oklch(87.1% .008 286.29);
    --base-400: oklch(70.5% .012 286.07);
    --base-500: oklch(55.2% .016 285.94);
    --base-600: oklch(44.2% .0147 285.79);
    --base-700: oklch(37% .012 285.81);
    --base-800: oklch(27.4% .008 286.03);
    --base-900: oklch(21% .0053 285.89);
    --base-950: oklch(14.1% .004 285.83);
    --base-1000: oklch(9.6% .0027 285.79);
    --background: var(--white);
    --foreground: var(--base-800);
    --card: var(--white);
    --card-foreground: var(--base-800);
    --popover: var(--white);
    --popover-foreground: var(--base-800);
    --primary: var(--base-950);
    --primary-foreground: var(--white);
    --secondary: var(--base-300);
    --secondary-foreground: var(--base-800);
    --muted: var(--neutral-100);
    --muted-foreground: var(--neutral-500);
    --accent: var(--base-200);
    --accent-foreground: var(--base-800);
    --destructive: oklch(57.7% .245 27.325);
    --border: var(--base-200);
    --input: var(--base-300);
    --ring: var(--base-800);
    --chart-1: var(--base-950);
    --chart-2: var(--base-600);
    --chart-3: var(--base-800);
    --chart-4: var(--base-400);
    --chart-5: var(--base-300);
    --radius: .5rem;

    --sidebar: var(--base-100);
    --sidebar-foreground: var(--base-800);
    --sidebar-primary: var(--base-950);
    --sidebar-primary-foreground: var(--white);
    --sidebar-accent: var(--base-200);
    --sidebar-accent-foreground: var(--base-800);
    --sidebar-border: var(--base-200);
    --sidebar-ring: var(--base-800);

    --display-weight: 700;
    --fc-button-bg-color: var(--primary);
    --fc-button-hover-bg-color: var(--primary);
    --fc-button-active-bg-color: var(--primary);
    --fc-button-hover-border-color: transparent;
    --fc-button-active-border-color: transparent;
    --fc-button-border-color: transparent;
    --fc-event-border-color: transparent;
    --fc-event-text-color: oklch(100% 0 0);
    --fc-border-color: var(--border);
    --fc-page-bg-color: var(--muted);
    --fc-today-bg-color: var(--muted);
}

.dark {
    --background: var(--base-950);
    --foreground: var(--base-200);
    --card: var(--base-950);
    --card-foreground: var(--base-200);
    --popover: var(--base-950);
    --popover-foreground: var(--base-200);
    --primary: var(--base-50);
    --primary-foreground: var(--base-900);
    --secondary: var(--base-500);
    --secondary-foreground: var(--base-200);
    --muted: var(--base-900);
    --muted-foreground: var(--base-400);
    --accent: var(--base-900);
    --accent-foreground: var(--base-200);
    --destructive: oklch(70.4% .191 22.216);
    --border: var(--base-800);
    --input: var(--base-700);
    --ring: var(--base-200);
    --chart-1: var(--base-50);
    --chart-2: var(--base-400);
    --chart-3: var(--base-200);
    --chart-4: var(--base-600);
    --chart-5: var(--base-700);
    --sidebar: var(--base-900);
    --sidebar-foreground: var(--base-200);
    --sidebar-primary: var(--base-50);
    --sidebar-primary-foreground: var(--base-900);
    --sidebar-accent: var(--base-800);
    --sidebar-accent-foreground: var(--base-200);
    --sidebar-border: var(--base-800);
    --sidebar-ring: var(--base-200);
}

@theme{

    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    /*--color-destructive-foreground: var(--destructive-foreground);*/
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --sidebar-width: calc(var(--spacing) * 64);

    --sidebar-width-icon: 3rem;
    --header-height: calc(var(--spacing) * 14);
}

@layer base {
    * {
        border-color: var(--border);
        outline-color: var(--ring);
        scrollbar-width: thin;
        scrollbar-color: var(--border) transparent;
    }

    body {
        color: var(--foreground);
    }
}

@layer utilities {
    .text-muted-foreground, .text-muted-foreground\/50 {
        color: var(--muted-foreground);
    }
}

html body[data-scroll-locked] {
    overflow-y: scroll !important;
    overscroll-behavior: contain !important;
    margin-right: 0 !important;
}