.userPanel .sideBar {
  width: 100%;
}
@media (min-width: 1124px) {
  .userPanel .sideBar {
    width: 320px;
  }
}

.userPanel .sideBar__top {
  border-radius: 0.75rem; /* rounded-xl */
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 14px;
  padding-bottom: 18px;
  box-shadow: 0px 4px 30px 0px #B0AFAF1A;
}

.userPanel .sideBar__top .user .profile {
  display: flex;
  gap: 26px;
  align-items: center;
}

.userPanel .sideBar__top .user img {
  border-radius: 9999px; /* rounded-full */
  border-width: 1px;
  border-style: solid;
  border-color: var(--p); /* border-primary */
}

.userPanel .sideBar__top .user__name {
  font-size: 18px;
  color: var(--bc); /* text-base-content */
  font-weight: 700;
  line-height: 38px;
}

.userPanel .sideBar__top .user__phone {
  text-align: right;
  font-size: 14px;
  color: var(--bc); /* text-base-content */
  line-height: 31px;
}
@media (min-width: 1024px) {
  .userPanel .sideBar__top .user__phone {
    font-size: 16px;
  }
}

.userPanel .sideBar__top .user__wallet {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userPanel .sideBar__top .user__wallet span {
  font-size: 14px;
  color: var(--bc); /* text-base-content */
}
@media (min-width: 1024px) {
  .userPanel .sideBar__top .user__wallet span {
    font-size: 16px;
  }
}

.userPanel .sideBar__bottom {
  box-shadow: 0px 4px 30px 0px #B0AFAF1A;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1rem; /* mt-4 */
  padding-left: 15px;
  padding-right: 15px;
}

.userPanel .sideBar__bottom .title {
  color: var(--bc); /* text-base-content */
}

.userPanel .sideBar__bottom ul {
  display: flex;
  flex-direction: column;
}

.userPanel .sideBar__bottom ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 25px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userPanel .sideBar__bottom ul li.active .title {
  color: #F04438;
}

.userPanel .sideBar__bottom ul li.active svg {
  fill: #F04438;
}

.userPanel .sideBar__bottom ul a + a {
  border-top-width: 0.5px;
  border-top-style: solid;
  border-top-color: #ABAFB1;
}
